.header {
	background-color: #ffff;
	padding: 50px 0;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__nav{
		
	}
	.nav__list{
	
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}